/* Elementler flex özelliği kullanılarak sıraya dizildi */
.header {
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
    margin-right: 16px;
    font-family: arial,sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: row-reverse;
  }
 
 /* Kayıt ol butonunun düzenlenmesi */
.sign_btn {
    background-color: #1a73e8;
    
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    font-family: Google Sans,Roboto,Helvetica,sans-serif;
    padding: 9px 23px;
    margin: 0 8px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    min-width: 96px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
}
/* Kayıt ol butonunun düzenlenmesi */
.sign_btn:hover {
    background-color: #3b89ef;
}


/* App simgesi için hover efekti */
.app_icon:hover {
    background-color: #3c4043;
    opacity: 0.1;
    border-radius: 50%;
}

  .headerli a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
  }
  
  .headerli a:hover {
    text-decoration: underline;
  }
  
  .container {
    text-align: center;
    margin: 100px;
  }
  
  .search-area {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    margin-top: -77px;
    width: 582px;
    border-radius: 24px;
  }
  
  .search-area:hover {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
  }
  
  .search {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
    padding-left: 14px;
  }
  
  .search-img {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
  }
  
  .search-img span {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    margin-top: 0px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
  }
  
  .input-enter {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  
  .input-area {
    color: transparent;
    flex: 100%;
    white-space: pre;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    display: block;
  }
  /* Input Alanının Düzenlenmesi */
  .input {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -68px;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    cursor: text;
    border: none;
    width: 100%;
  }

  /* Sesli Arama Logosunun Eklenmesi */
  .voice-img {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0 8px;
    margin-top: -5px;
  }
  
  /* Sesli Arama Logosunun Konumlandırılması */
  .voice_logo {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  /* Sanal Klavye Logosu Eklenmesi */
  .controller-img {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0 8px;
    margin-top: -5px;
  }

 /* Butonların Konumlandırılması */
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
  }

  /* Google Search Butonuna Margin Verilmesi */
  .buttons a:nth-child(1){
    margin-right: 12px;
  }

  .googlesearch {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

  .googlesearch:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
  }
  
  .feelinglucky {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0 16px;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

  .feelinglucky:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
  }
  
  /* Liste Elemanlarının Noktalarının Kaldırılması */
  .footer {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-top: 1px solid #dadce0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
    line-height: 10px;
    list-style-type: none;
  }
  
  .footerli {
    float: left;
  }
  
  .footerli a {
    
    display: block;
    color: #70757a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -20px;
  }
  
  .footerli a:hover {
    text-decoration: underline;
  }

  /* Lokasyon Bilgisini Gösteren Footer Kısmının Oluşturulması */
  .location {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
    line-height: 10px;
    list-style-type: none;
    margin-bottom: 40px;
    background-color: #f2f2f2;
    color: #70757a;
    padding: 15px 30px;
    font-size: 15px;
    font-family: Arial, sans-serif;
  }